@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

/* main layout */
.mainLayout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.header {
  display: flex;
  background: #ffffff;
  padding-bottom: 1rem;
  border-bottom: 1px var(--text-300) solid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.headerSearch {
  display: flex;
  padding: 1rem;
  white-space: nowrap;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  gap: 0 1rem;
  position: relative;
  flex-wrap: wrap;
}
.headerSearchItem {
  border: var(--text-400) 1px solid;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  height: 80px;
  width: 100%;
  align-items: center;
  white-space: nowrap;
}
.headerSearchItem.search {
  border: none;
  padding: 0;
}

.bookmarkLink_text {
  display: none;
}
.nevigateContent > span {
  display: none;
}
.headerSearchInput {
  border: none;
  flex-direction: column;
  text-align: right;
  font-size: 1rem;
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  outline: none;
}
.dateOption {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem 0;

  flex-direction: column;
}

.optDropDown__header {
  display: flex;
  width: 100%;
  gap: 0 5px;
  justify-content: start;
  align-items: center;
}
.filterSearchOptions {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  gap: 0 1rem;
}
.dateOption__header span {
  display: block;
}

.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.headerIcon {
  display: block;
  width: 20px;
  height: 20px;
}
.headerSearchBtn svg {
  width: 18px;
  height: 18px;
}

.headerSearchBtn {
  padding: 1rem;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: var(--primary-600);
  color: #fff;
  border-radius: 3rem;
}
.headerSearchBtn:hover {
  background-color: var(--primary-700);
  transform: scale(1.02);
  transition: 0.3s ease;
}
.headerSearchBtn h2 {
  font-size: medium;
}
.profile {
  display: flex;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  flex-direction: column;
  gap: 5px 0;
  align-items: center;
  justify-content: center;
}
.profile svg {
  fill: var(--primary-600);
}
.profile span {
  font-weight: 600;
  color: var(--text-500);
}

.optDropDown__header svg {
  fill: var(--primary-600);
}
.filterSearchOptions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.filterSearchOptions svg {
  width: 20px;
  height: 20px;
}
.dateOption__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.guestOptions {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 220px;
  z-index: 1000;
}
.guestOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.guestOptionItem:first-child {
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 1.2rem;
}
.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  position: absolute;
  top: 50px;
  right: 20rem;
  box-shadow: 0 0 10px var(--text-300);
  border-radius: 20px;
  z-index: 1002;
}

.dateIcon {
  color: var(--primary-600);
}

.dateDropDown {
  direction: rtl;
  font-size: x-small;
  margin-left: 1rem;
  color: var(--text-700);
  font-family: "Vazir", sans-serif;
}

.dateText {
  font-weight: 500;
  white-space: nowrap;
  color: var(--primary-600);
}
.headerSearchInput__body {
  border: none;
}
.headerSearchInput__header {
  font-size: 12px;
  display: flex;
  margin-top: 13px;
  gap: 10px;
  align-items: center;
  justify-content: start;
  color: var(--text-600);
}
.headerSearchItem input {
  margin-left: 0.5rem;
  margin-top: 5px;
  font-size: medium;
  margin-bottom: 13px;
  padding: 0.1rem;
  background: var(--text-100);
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
  color: var(--text-700);
  text-align: right;
}
.locationIcon {
  color: var(--primary-600);
}
.seperator {
  display: none;
  width: 1px;
  height: 30px;
  background-color: var(--text-100);
  margin: 0 0.2rem;
}

.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-600);
}
.headerIcon {
  width: 20px;
  height: 20px;
  display: block;
}
.optDropDown {
  align-items: start;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  display: flex;
  cursor: pointer;
}
.optionDropDownItem {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--primary-600);
}
.optionDropDownItem > span {
  font-size: x-small;
  white-space: nowrap;
}
.optionDropDownItem > svg {
  color: var(--primary-600);
  opacity: 50%;
  font-size: 1rem;
}
.optionDropDown__body {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  font-weight: 600;
  font-size: x-small;
}
.hotel-badge {
  background-color: var(--text-300);
  color: #333;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
}
.hotel_typeInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.hotel-rating {
  margin: 1rem 0;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  gap: 0 1rem;
}
.room__locationItem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  margin-top: 1rem;
  border: 1px solid var(--text-300);
}

.room__location--name {
  height: 50px;
  font-size: 13px;
  color: var(--primary-600);
  font-weight: 500;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.rating-number {
  background-color: #0c6d15;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.amenities_item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
}
@media screen and (min-width: 768px) {
  .headerSearchItem.locationIcon {
    display: block;
  }
  .dateOptionIcon span {
    display: none;
  }
  .headerSearch {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .headerSearchBtn {
    max-width: 100px;
    height: 60px;
    margin: 0 10px;
  }
  .headerSearchBtn h2 {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .headerSearchItem .dateDropDown {
    display: block;
  }
  .headerSearchItem {
    padding: 1rem;
    overflow: hidden;
    justify-content: center;
    flex: 1 1 auto;

    white-space: nowrap;
    height: 60px;
    min-width: 0;
  }
  .headerSearchItem input {
    font-size: small;
  }

  .dateDropDown {
    display: block;
  }
  .seperator {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .headerIcon {
    width: 20px;
    height: 20px;
  }
  .headerSearchInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
  }
  .headerSearchInput input {
    padding-right: 1rem;
  }

  .headerSearchInput::placeholder {
    font-size: xx-small;
  }
  .bookmarkLink_text {
    display: none;
  }
  .headerIcon.locationIcon {
    display: block;
    width: 100%;
  }

  .optionDropDownItem {
    display: flex;
  }
  .headerSearchItem.search {
    width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .bookmarkLink_text {
    margin-top: 5px;
    display: block;
  }
  .nevigateContent > span {
    margin-top: 5px;
    display: block;
  }
}

/*  location list */
.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
  color: var(--text-600);
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.locationItem {
  cursor: pointer;
  padding: 2rem;
  border: 1px solid var(--text-300);
  border-radius: 2rem;
  box-shadow: 0 0 10px var(--text-300);
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}
.locationItemDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.locationItem .locationItemDesc .name {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-600);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
  font-size: small;
  color: var(--text-400);
}
.locationItem .locationItemDesc .price {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: large;
  color: rgb(5, 109, 5);
}

.locationItem .locationItemDesc .price span {
  font-weight: 400;
  font-size: small;
}
.starIcon {
  margin-top: 10px;
  width: 15px;
  height: 15px;
  color: goldenrod;
}
/* room detail */
.room {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1280px;
  margin: 0 auto;
}

.room__header-wrapper {
  width: 100%;
  border-radius: 12px;
  height: 300px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.room__bg-mobile {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}

.gallery {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  gap: 12px;
  margin-top: 20px;
}

.gallery__main {
  flex: 1 1 50%;
  border-radius: 12px;
  overflow: hidden;
}

.gallery__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}
.gallery__side {
  display: none;
}

.gallery__thumb {
  border-radius: 8px;
  overflow: hidden;
}

.gallery__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.room__Detail--container {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.roomDetailItem {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
}
.roomDetailItem.hotel-price {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  flex-direction: row;
}
.roomDetailItem.hotel-price > .price {
  color: #0c6d15;
  font-size: medium;
  font-weight: 700;
}
.room__locationItem,
.room__location--map {
  height: 300px;
}
.room__location--map .mapContainer {
  height: 100%;
}
.hotel--about {
  display: flex;
  margin-top: 10px;
  gap: 0.5rem 0;
  font-size: small;
  flex-direction: column;
}
.room__Detail--container > div,
.roomDetailItem > div {
  width: 100%;
}

.room__location--map .mapContainer {
  width: 100%;
}
.info-item {
  color: var(--text-600);
  margin-top: 1rem;
  display: flex;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;

  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.info-item > span {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .room {
    justify-content: center;
  }
  .gallery__side {
    flex: 1 1 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .roomDetailItem {
    flex-direction: row;
    justify-content: space-around;
  }
  .roomDetailItem.hote-info {
    flex-direction: column;
  }
}

/* map */
.mapContainer {
  flex: 1;
  background: #000;
  border-radius: 2rem;
  background-color: var(--text-100);
  position: relative;
}
.mapContainer button.getLocation {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--primary-600);
  box-shadow: 0 0 10px var(--primary-600);
  color: #fff;
  /* z-index: 1000; */
}
.map {
  height: 200px;
  border-radius: 2rem;
  width: 100%;
}

.searchList {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  gap: 1.5rem;
}
.searchItem--container {
  position: relative;
}
.searchList h2 > span {
  font-size: 0.9rem;
}
.searchList > h2 {
  color: var(--text-500);
  margin: 9px 0;
}

.searchList .searchItem {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-300);
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.searchItem.current-hotel::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  background-color: purple;
  border-radius: 4px;
}

.searchList .searchItem img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}
.searchItem .searchItemDesc {
  width: 100%;
}
.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}
.searchItem .searchItemDesc .name {
  font-weight: 500;
  color: var(--text-600);
  font-size: 1.7rem;
}
.searchItem .searchItemDesc .name:hover {
  color: var(--primary-700);
}
.searchItem:hover {
  color: var(--primary-600);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
  color: var(--text-500);
  font-size: small;
}
.searchItem .searchItemDesc .price {
  font-weight: 500;
  flex-direction: column;
  display: flex;
  color: #0c6d15;
  align-items: start;
}

.searchItem .searchItemDesc .price span {
  color: var(--text-500);
  margin-top: 10px;
  font-weight: 500;
}
.searchItem .searchItemDesc h2 {
  font-size: 1.2rem;
}
.searchItemDesc__header {
  display: flex;
  justify-content: space-between;
}
.searchItemDesc__header > div:hover > svg {
  border-bottom: 1px solid var(--primary-600);
}
.searchItemDesc__header > div {
  display: flex;
  justify-content: center;
  width: 30px;
}
.searchItemDesc__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchItemDesc__footer .Hotel__amenities {
  display: grid;
  font-size: x-small;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 16px;
  margin-top: 12px;
  margin: 1.5rem 0;
}
.searchItemDesc__footer .Hotel__amenities .amenities_item {
  font-size: 10px;
}

/* app layout */
.appLayout {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: space-between;
  height: calc(100vh - 130px);
  align-items: stretch;
}

.sidebar {
  width: 100%;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    order: 1;
    overflow-y: scroll;
    width: 50%;
  }
  .map {
    height: 100%;
  }
  .appLayout {
    flex-direction: row;
  }
  .mapContainer {
    order: 2;
  }
  .searchList .searchItem {
    flex-direction: row;
  }
  .searchList .searchItem img {
    width: 11rem;
    height: 11rem;
  }
  .searchItem .searchItemDesc .name {
    font-size: 1.2rem;
  }
  .searchItem .searchItemDesc .location {
    font-size: 10px;
  }
}

/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  margin-bottom: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singleBookmarkItem > .bookmarkItem {
  margin: 12px 0;
}
.bookmarkItem__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
.bookmarkItem__details > div {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
.bookmarkItem__details > :last-child {
  display: flex;
  font-size: x-small;
  justify-content: start;
}

.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  color: var(--rose-500);
  width: 20px;
  height: 20px;
}

/* form */

.form .formControl {
  transition: all 0.5s ease-in;
  margin: 1rem 0;
  position: relative;
}

.formControl label {
  display: block;
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.formControl input {
  border: 1px solid var(--text-300);
  padding: 0.5rem;
  border-radius: 12px;
  width: 100%;
}
.formControl input:focus {
  border: 1px solid var(--primary-600);
  box-shadow: 0 4px 12px rgba(101, 38, 228, 0.182);
}
.form .buttons {
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
}

.formControl .flag {
  position: absolute;
  right: 1rem;
  top: 50%;
}

a.active {
  color: var(--primary-600);
  font-weight: 700;
}

.loginContainer {
  margin: 12rem auto;
  max-width: 32rem;
  border: 1px solid var(--text-300);
  padding: 1rem;
  border-radius: 1rem;
}

.loginContainer button {
  width: 100%;
}
.loginContainer button:hover {
  background: var(--primary-700);
}

.loginContainer h2 {
  margin-bottom: 1rem;
}

.icon.logout {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}
/* bookmark  */
.bookmarkLink {
  text-decoration: none;
  color: inherit;
}

.nevigateContent {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-size: small;
  color: var(--text-600);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nevigateContent svg {
  /* margin-right: 10px; */
  color: var(--primary-600);
}

.nevigateContent span {
  white-space: nowrap;
  text-align: center;
  font-size: small;
}

.nevigateContent:hover {
  color: var(--primary-700);
}
